**/allure-results

.DS_Store

/env

.svn
.hgsvn

lib/
bin/
include/
.Python/

*.pyc
*.pyo
*.swp
*.class
*.orig
*~
.hypothesis/

src/_pytest/_version.py

.eggs/

doc/*/_build
doc/*/.doctrees
doc/*/_changelog_towncrier_draft.rst
build/
dist/
*.egg-info
htmlcov/
issue/
env/
.env/
.venv/
/pythonenv*/
3rdparty/
.tox
.cache
.pytest_cache
.mypy_cache
.coverage
.coverage.*
coverage.xml
.ropeproject
.idea
.hypothesis
.pydevproject
.project
.settings
.vscode

pip-wheel-metadata/

pytestdebug.log